body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg, rgba(154,151,255,1) 0%, rgba(255,110,205,1) 100%);
}
.head{
    align-items: center;
    text-align: center;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-left: 50px;
    margin-right: 50px;
    padding: 15px;
}
.nuevoC{
    margin-top: 30px;
    margin-left: 450px;
    width: 400px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.tituloNuevoC{
    text-align: center;
}
.ingreso{
    border-radius: 10px;
    height: 50%;
    width: 85%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.botonN{
    justify-content: center;
    text-align: center;
}
.botonF{
    background-color: rgb(45, 255, 45);
    color: white;
    border-radius: 8px;
}