body {
    background: linear-gradient(90deg, rgba(255, 135, 202, 1) 0%, rgba(172, 250, 255, 1) 100%);
    font-family: Arial, Helvetica, sans-serif;
}

.head {
    border-radius: 15px;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-wrap: wrap;
    
}

.opcionesContactosMain{
    color: white;
    border-radius: 15px;
    padding: 10px;
    background: linear-gradient(90deg, rgba(99,115,255,1) 0%, rgb(255, 93, 93) 100%);
    margin-right: 15px;
    cursor: pointer;
}
.opcionesContactosMain:hover{
    background: linear-gradient(90deg, rgb(62, 81, 255) 0%, rgb(255, 15, 15) 100%);
}

.contentFlex {
    display: grid;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 50px;
    position: absolute;
    width: max-content;
    height: max-content;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    margin-top: 50px;
    border-radius: 15px;
    row-gap: 50px;
    column-gap: 50px;

    flex-wrap: wrap;
}

.contacto {
    background-color: rgb(255, 255, 255);
    justify-content: center;
    text-align: center;
    border: 8px solid rgb(176, 176, 255);
    border-radius: 13px;
    height: 400px;
    width: 500px;
}
.opciones{
    background-color: rgb(255, 255, 255);
    border: 8px solid rgb(176, 176, 255);
    border-radius: 20px;
    grid-column-start: 1;
    grid-column-end: 4;
    height: 150px;
    padding: 50px;
    display: grid;
}
.imagenesOp{
    padding: 12px;
    border-radius: 10px;
    height: 100px;
    width: 50%;
}
.imagenesOpI{
    border-radius: 10px;
    width: 75px;
    height: 75px;
}
.fotoContacto{
    border-radius: 10px;
    height: 150px;
    width: 150px;
}
.masDet{
    padding: 10px;
    border-radius: 10px;
    color: black;
    background: linear-gradient(90deg, rgba(193,220,255,1) 0%, rgba(239,255,177,1) 100%);
    cursor: pointer;
}
.botonesOpB{
    color: black;
    border-radius: 5px;
    padding: 10px;
    background: linear-gradient(90deg, rgba(170,255,147,1) 0%, rgba(243,255,91,1) 100%);
    cursor: pointer;
}
.botonesOpB:hover{
    background: linear-gradient(90deg, rgb(118, 255, 81) 0%, rgb(242, 255, 53) 100%);
}
.opcionesBox{
    text-align: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
}
.opcionesBox:hover{
    background-color: rgb(212, 212, 212);
}
#contacto1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
#contacto2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
#contacto3{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
#contacto4{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}
#contacto4{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}
#nuevoCon{
    grid-column-start: 1;
    grid-column-end: 2;
}
#imagenNew{
    grid-column-start: 2;
    grid-column-end: 3;
}
#misFavs{
    grid-column-start: 3;
    grid-column-end: 4;
}
#imagenFav{
    grid-column-start: 4;
    grid-column-end: 5;
}