body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg, rgba(252,255,128,1) 0%, rgba(234,128,255,1) 100%);
}
div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.head{
    border-radius: 12px;
    background: linear-gradient(90deg, rgba(234,128,255,1) 0%, rgba(79,255,250,1) 100%);
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 13px;
    justify-content: center;
}
.tituloMain{
    color: white;
}
.subtituloMain{
    color: white;
}
.login{
    background-color: rgb(255, 255, 173);
    border-radius: 12px;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    margin: auto;
    width: 400px;
    padding: 13px;
    margin-top: 30px;
}
.tituloLogin{
    text-align: center;
    align-items: center;
    align-content: center;
    background-color: rgb(255, 255, 120);
    border-radius: 12px;
    text-align: center;
    justify-content: center;
    padding: 5px;
    width: 350px;
}
.formulario{
    margin-top: 10px;
    background-color: rgb(255, 255, 120);
    border-radius: 10px;
    padding: 5px;
}
.input{
    border-radius: 5px;
    width: 300px;
    padding: 3px;
    margin-left: 20px;
}
.correoC{
    margin-left: 20px;
}
.enviar{
    margin-top: 20px;
    border-radius: 10px;
    padding: 5px;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
}
.inicioS{
    padding: 8px;
    border-radius: 5px;
    color: black;
    background: linear-gradient(90deg, rgba(234,128,255,1) 0%, rgba(161,239,255,1) 100%);
    cursor: pointer;
}
.inicioS:hover{
    background: linear-gradient(90deg, rgb(224, 71, 255) 0%, rgb(84, 226, 255) 100%);
}