body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg, rgba(154,151,255,1) 0%, rgba(255,110,205,1) 100%);
}
.head{
    align-items: center;
    text-align: center;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-left: 50px;
    margin-right: 50px;
    padding: 15px;
}
.usuarioInfo{
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 15px;
    margin-left: 450px;
    margin-top: 20px;
    width: 400px;
    align-items: center;
    justify-content: center;
    text-align: center;
}